@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #fafbfd;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body html {
  font-size: 1.5vw;
}

.container {
  margin-top: 1em;
}

.left-margin {
  margin-left: 6.5rem;
}

.main-container {
  padding: 1.1em;
  margin-left: 3em;
  margin-right: 3em;
}

.background {
  background-image: url(/images/background.png);
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
}

section {
  padding: 2em;
}

header {
  padding: 2em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .mainMenu li a {
  display: inline-block;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #818991;
  font-size: 1.2rem;
  margin-right: 14px;
}

header .mainMenu li a:hover {
  background: #6554df;
  border-radius: 0.4em;
}

header .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
  color: #000;
  margin-right: 5px;
}

header .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.logo {
  margin-top: 0.9em;
  font-size: 2rem;
  color: #2c39c2;
  font-weight: bold;
  text-decoration: none;
}

.logo i {
  width: 1.5em;
}

/*hero section*/
.hero .hero-content {
  max-width: 50%;
  float: left;
}

.hero .hero-content h2 {
  font-weight: bold;
  font-size: 3em;
}

.hero .hero-content p {
  color: #818991;
  padding: 0 2em 0 0;
  font-size: 1em;
}

.hero .hero-content .btn {
  display: block;
  margin-top: 2.4em;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #6554df;
  padding: 15px 6px;
  border-radius: 3px;
  width: 10vw;
  text-align: center;
  font-size: 0.8em;
}

.hero img {
  display: inline;
  max-width: 49%;
  height: auto;
  display: none;
}

/*testimonial section*/
.testimonial .testimonial-text {
  text-align: center;
}

.testimonial .testimonial-text h1 {
  margin-top: 0em;
  font-size: 2em;
}

.testimonial .testimonial-text p {
  font-size: 1em;
  color: #818991;
}

.testimonial .container-cta {
  margin-top: 1em;
  text-align: center;
}

.testimonial .container-cta h3 {
  font-size: 1.5em;
}

.testimonial .container-cta p {
  font-size: 0.8em;
  color: #818991;
}

.testimonial .container-cta .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonial .container-cta .col {
  background-color: #ffffff;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  max-width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
  border-radius: 0.2em;
}

.testimonial .container-cta img {
  padding: 0.4em 0 0 0;
  height: 7em;
}

/*about us section*/
.about-us {
  text-align: center;
}

.about-us h1 {
  font-size: 2em;
}

.about-us p {
  font-size: 1em;
  color: #818991;
}

.about-us .about-content {
  float: right;
  max-width: 50%;
  margin-top: 10em;
}

.about-us .about-content p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  color: #7d838d;
}

.about-us img {
  max-width: 50%;
  margin-top: 5em;
}

/*our doctor*/
.ourdoctor .ourdoctor-text {
  text-align: center;
}

.ourdoctor .ourdoctor-text h1 {
  font-size: 2em;
}

.ourdoctor .ourdoctor-text p {
  font-size: 1em;
  color: #818991;
}

.ourdoctor .ourdoctor-cta {
  text-align: center;
}

.ourdoctor .ourdoctor-cta h3 {
  margin-top: 0.2em;
  font-size: 2em;
}

.ourdoctor .ourdoctor-cta p {
  margin-top: -2em;
  font-size: 0.7em;
  color: #818991;
}

.ourdoctor .ourdoctor-cta i {
  color: #818991;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 15%;
  font-size: 11px;
  padding: 0.9em;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
  border-radius: 0em 58em 6em 53em;
}

.ourdoctor .ourdoctor-cta .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourdoctor .ourdoctor-cta .col {
  background-color: #ffffff;
  display: inline-block;
  padding: 15px;
  margin: 20px;
  max-width: 23%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
  border-radius: 0.2em;
}

.ourdoctor .ourdoctor-cta img {
  height: 4.5em;
  border-radius: 50%;
  border: 3px solid #6554df;
}

/*feedback*/
.feedback {
  padding-right: 0px;
  padding-left: 0px;
}

.feedback .feedback-text {
  text-align: center;
}

.feedback .feedback-text h1 {
  font-size: 2em;
}

.feedback .feedback-text p {
  font-size: 1.1em;
  color: #818991;
}

.feedback .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45vh;
  margin-top: 4em;
}

.feedback .flex-container div {
  background-color: #f2f2fc;
}

.feedback .item-1 {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
}

.feedback .item-1 img {
  max-width: 46%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.5em;
  border-radius: 0.3em;
  margin-top: 57px;
}

.feedback .item-2 {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  padding: 4em 0 2em 0;
  padding-top: 37px;
}

.feedback .item-2 p {
  font-size: 0.9em;
  color: #818991;
}

.feedback .item-2 h4 {
  margin-top: 2.5em;
  font-size: 1.1em;
  margin-bottom: 0px;
}

.feedback .item-2 h3 {
  color: #58abf6;
  font-size: 1.3em;
  margin-top: 0px;
}

.feedback .item-2 .left-arrow {
  border: none;
  background-color: #f2f2fc;
  color: #818991;
  font-size: 1em;
}

.feedback .item-2 .left-arrow:hover {
  color: #58abf6;
}

.feedback .item-2 .right-arrow {
  border: none;
  background-color: #fff;
  font-size: 1em;
  color: #818991;
  width: 10%;
  height: 9%;
  border-radius: 50rem 0rem 50rem 50rem;
  margin-left: 1.5em;
  -webkit-box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
}

.feedback .item-2 .right-arrow:hover {
  color: #58abf6;
}

.feedback .item-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.feedback .item-3 img {
  max-width: 26%;
  margin-top: 4em;
  position: absolute;
  margin-left: -15em;
}

/*footer*/
.footer {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 5em;
}

.footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6554df;
  width: 62%;
  border-radius: 0.8em;
  margin-left: 20em;
  position: absolute;
  margin-top: -4em;
}

.footer .form .form-content {
  padding: 1em;
  border-radius: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .form .form-content h4 {
  color: #fff;
  margin-left: 1em;
}

.footer .form .form-content p {
  color: #fff;
  font-size: 15px;
  margin-left: 1.8em;
}

.footer .form .formbox-cta {
  margin-right: 4em;
  background-color: #fff;
  border-radius: 50rem;
}

.footer .form .formbox-cta input {
  border-radius: 50px;
  font-size: 12px;
  padding: 17.5px 12.5px;
  border: none;
  outline: none;
  background-color: #fff;
}

.footer .form .formbox-cta button {
  width: 5em;
  color: #fff;
  padding: 10px 0px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  background: #6554df;
  cursor: pointer;
  margin-right: 0.6em;
  margin-top: 0.3em;
}

.footer .footer-content {
  height: 469px;
  background-color: #ebebf7;
}

.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-col {
  width: 25%;
  margin-top: 7em;
}

.footer .footer-col .logo-cta {
  margin-top: 1em;
  font-size: 2.2rem;
  color: #2c39c2;
  font-weight: bold;
  text-decoration: none;
  margin-left: 2em;
}

.footer .footer-col .logo-cta i {
  width: 1.2em;
}

.footer .footer-col h4 {
  font-size: 1.1em;
  margin-left: 2.2em;
}

.footer .footer-col h3 {
  font-size: 1.1em;
  margin-left: 2.2em;
}

.footer .footer-col h2 {
  font-size: 1.1em;
}

.footer .footer-col ul {
  list-style: none;
}

.footer .footer-col ul li a {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.8em;
  color: #8a8b90;
  display: block;
}

.footer .footer-col ul li a:hover {
  color: #6554df;
}

.footer .footer-col .social-links a {
  margin: 0 10px 10px 0;
  text-align: center;
  color: #bbbbbb;
  line-height: 2.3em;
  font-size: 2em;
}

.footer .footer-col .social-links a:hover {
  color: #6554df;
}

.footer .footer-col .social-links .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 6.8em;
  margin-right: 0px;
  margin-left: -8em;
}

.footer .footer-col .social-links .box .form-box {
  border-radius: 50px;
  background: #fff;
  float: left;
}

.footer .footer-col .social-links .box .form-box input {
  font-size: 12px;
  color: #0000;
  padding: 15px 10px;
  border: none;
  outline: none;
  border-radius: 50%;
  margin-left: 1em;
}

.footer .footer-col .social-links .box .form-box button {
  width: 5em;
  color: #fff;
  padding: 7px 10px;
  font-size: 0.9em;
  border: none;
  border-radius: 50px;
  background: #6554df;
  cursor: pointer;
  margin-right: 1.5em;
  margin-top: 0.2em;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 1.5vw;
  }
  .background {
    height: 679px;
  }
  header .mainMenu li a {
    font-size: 1rem;
  }
  .section {
    padding: 2rem;
  }
  .hero .container .hero-content h2 {
    font-size: 2em;
  }
  .hero .container .hero-content p {
    font-size: 0.7em;
  }
  .hero .container .hero-content .btn {
    font-size: 1em;
    margin-top: 1.5em;
    width: 10em;
  }
  .hero .container img {
    margin-top: 3em;
  }
  .testimonial .testimonial-text h1 {
    font-size: 2em;
  }
  .testimonial .testimonial-text p {
    font-size: 1.2em;
  }
  .testimonial .container-cta h3 {
    font-size: 1.3em;
  }
  .testimonial .container-cta p {
    font-size: 0.6em;
  }
  .testimonial .container-cta .col {
    max-width: 27%;
    -webkit-box-shadow: 0 1.5px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 1.5px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
  }
  .about-us .about-content {
    margin-top: 8em;
  }
  .about-us .about-content p {
    font-size: 0.8em;
    line-height: 1.8em;
  }
  .ourdoctor .ourdoctor-text h1 {
    font-size: 2.1em;
  }
  .ourdoctor .ourdoctor-text p {
    font-size: 1.3em;
  }
  .ourdoctor .ourdoctor-cta i {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 19%;
    padding: 1em;
    border-radius: 0em 58em 6em 53em;
  }
  .ourdoctor .ourdoctor-cta .col {
    max-width: 26%;
  }
  .feedback .feedback-text h1 {
    font-size: 2.1em;
  }
  .feedback .feedback-text p {
    font-size: 1.3em;
  }
  .feedback .flex-container {
    height: 50%;
  }
  .feedback .item-1 img {
    margin-top: 3em;
    max-width: 58%;
  }
  .feedback .item-2 {
    padding: 2.5em 0 2em 0;
  }
  .feedback .item-2 p {
    font-size: 0.8em;
  }
  .feedback .item-2 h4 {
    margin-top: 1.5em;
    font-size: 1em;
    margin-bottom: 0px;
  }
  .feedback .item-2 h3 {
    font-size: 1.1em;
  }
  .feedback .item-2 .left-arrow {
    font-size: 0.8em;
  }
  .feedback .item-2 .right-arrow {
    width: 12%;
    height: 13%;
    margin-left: 2em;
    font-size: 0.8em;
  }
  .feedback .item-3 img {
    max-width: 28%;
    margin-top: 5em;
    margin-left: -3em;
  }
  .footer {
    margin-top: 1em;
  }
  .footer .form {
    width: 60%;
    margin-left: 10em;
    margin-top: 0.5em;
  }
  .footer .form .form-content h4 {
    font-size: 1em;
  }
  .footer .form .form-content p {
    font-size: 9px;
  }
  .footer .form .formbox-cta {
    margin-right: 2em;
  }
  .footer .form .formbox-cta input {
    font-size: 12px;
    padding: 20px 10px;
  }
  .footer .form .formbox-cta button {
    width: 5em;
    padding: 12px 0px;
    font-size: 1.2rem;
  }
  .footer .footer-content {
    margin-top: 4.5em;
  }
  .footer .footer-col {
    width: 23%;
  }
  .footer .footer-col .logo-cta {
    margin-top: 0.6em;
    font-size: 1.6rem;
    margin-left: 2em;
  }
  .footer .footer-col .logo-cta i {
    width: 1.1em;
  }
  .footer .footer-col h4 {
    font-size: 1em;
  }
  .footer .footer-col h3 {
    font-size: 1em;
  }
  .footer .footer-col h2 {
    font-size: 1em;
  }
  .footer .footer-col ul li a {
    font-size: 1em;
  }
  .footer .footer-col ul li a:hover {
    color: #6554df;
  }
  .footer .footer-col .social-links a {
    line-height: 1.8em;
    font-size: 1.5em;
  }
  .footer .footer-col .social-links .box {
    margin-right: -5em;
    height: 75px;
  }
  .footer .footer-col .social-links .box .form-box input {
    font-size: 10px;
  }
  .footer .footer-col .social-links .box .form-box button {
    font-size: 11px;
    border: none;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 1.5vw;
  }
  .background {
    height: 573px;
  }
  header {
    padding: 2em;
  }
  header .mainMenu li a {
    margin-top: 0.4em;
    font-size: 0.9rem;
    margin-right: 5px;
  }
  header .mainMenu li a:hover {
    background: #6554df;
    border-radius: 0.4em;
  }
  .hero .container .hero-content h2 {
    font-size: 2.5em;
  }
  .hero .container .hero-content p {
    font-size: 0.7em;
  }
  .hero .container .hero-content .btn {
    font-size: 1em;
    margin-top: 1.4em;
    font-weight: normal;
    padding: 12px 8px;
    color: #fff;
  }
  .hero .container img {
    max-width: 50%;
    height: auto;
  }
  .testimonial .testimonial-text h1 {
    font-size: 1.4em;
  }
  .testimonial .testimonial-text p {
    font-size: 0.9em;
  }
  .testimonial .container-cta h3 {
    font-size: 1em;
  }
  .testimonial .container-cta p {
    font-size: 0.5em;
  }
  .testimonial .container-cta .col {
    margin: 17px;
    max-width: 26.2%;
    -webkit-box-shadow: 0 1px 4px 0 rgba(224, 224, 224, 0.856), 0 1px 5px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 1px 4px 0 rgba(224, 224, 224, 0.856), 0 1px 5px 0 rgba(0, 0, 0, 0);
  }
  .testimonial .container-cta img {
    padding: 0.8em 0 0 0;
    height: 6em;
  }
  .about-us h1 {
    font-size: 1.4em;
  }
  .about-us p {
    font-size: 0.9em;
  }
  .about-us .about-content {
    margin-top: 7em;
  }
  .about-us .about-content p {
    font-size: 0.8em;
  }
  .ourdoctor .ourdoctor-text h1 {
    font-size: 1.4em;
  }
  .ourdoctor .ourdoctor-text p {
    font-size: 0.9em;
  }
  .ourdoctor .ourdoctor-cta h3 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .ourdoctor .ourdoctor-cta p {
    margin-top: 0.2em;
    line-height: 1.3em;
    font-size: 0.5em;
  }
  .ourdoctor .ourdoctor-cta i {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 21%;
    padding: 0.6em;
    border-radius: 0em 58em 6em 53em;
  }
  .ourdoctor .ourdoctor-cta .col {
    padding: 20px;
    margin: 16.5px;
    max-width: 25%;
    -webkit-box-shadow: 0 1px 4px 0 rgba(224, 224, 224, 0.856), 0 1px 5px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 1px 4px 0 rgba(224, 224, 224, 0.856), 0 1px 5px 0 rgba(0, 0, 0, 0);
    border-radius: 0.2em;
  }
  .ourdoctor .ourdoctor-cta img {
    height: 4.1em;
  }
  .feedback .feedback-text h1 {
    font-size: 1.4em;
  }
  .feedback .feedback-text p {
    font-size: 0.9em;
  }
  .feedback .flex-container {
    height: 30vw;
  }
  .feedback .item-1 img {
    margin-top: 4em;
    max-width: 58%;
  }
  .feedback .item-2 {
    padding: 3em 0 0 0;
  }
  .feedback .item-2 p {
    font-size: 0.7em;
    line-height: 10px;
  }
  .feedback .item-2 h4 {
    line-height: 20px;
    font-size: 1.1em;
  }
  .feedback .item-2 h3 {
    line-height: 20px;
    font-size: 1.4em;
  }
  .feedback .item-2 .left-arrow {
    font-size: 1em;
  }
  .feedback .item-2 .right-arrow {
    width: 16%;
    height: 13%;
    margin-left: 1.1em;
  }
  .feedback .item-3 img {
    max-width: 30%;
    margin-top: 6em;
    margin-left: -5em;
  }
  .footer {
    margin-top: 1em;
  }
  .footer .form {
    width: 58%;
    margin-left: 12em;
    margin-top: 1.2em;
  }
  .footer .form .form-content h4 {
    font-size: 0.8em;
  }
  .footer .form .form-content p {
    font-size: 8px;
    margin-left: 1.5em;
  }
  .footer .form .formbox-cta input {
    font-size: 9px;
    padding: 12px 2px;
  }
  .footer .form .formbox-cta button {
    width: 5em;
    padding: 7px 0px;
    font-size: 0.9rem;
    margin-right: 0.4em;
  }
  .footer .footer-content {
    margin-top: 6em;
    height: 30vw;
  }
  .footer .footer-col {
    width: 23%;
  }
  .footer .footer-col .logo-cta {
    margin-top: 0.3em;
    margin-left: 4em;
    font-size: 1.3rem;
  }
  .footer .footer-col h4 {
    font-size: 0.7em;
    margin-left: 3.9em;
  }
  .footer .footer-col h3 {
    font-size: 0.7em;
    margin-left: 3.9em;
  }
  .footer .footer-col h2 {
    font-size: 0.7em;
  }
  .footer .footer-col ul {
    padding-left: 42px;
  }
  .footer .footer-col ul li a {
    font-size: 0.8em;
  }
  .footer .footer-col .social-links a {
    line-height: 2em;
    font-size: 1.3em;
  }
  .footer .footer-col .social-links .box {
    margin-left: -110px;
    height: 75%;
  }
  .footer .footer-col .social-links .box .form-box input {
    font-size: 6px;
    padding: 12px 10px;
  }
  .footer .footer-col .social-links .box .form-box button {
    width: 5em;
    margin-top: 0.3em;
    margin-right: 0.5em;
    padding: 6px 0px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 769px) {
  .main-container {
    padding: 1em;
    margin-left: 0em;
    margin-right: 0em;
  }
  .background {
    height: 487px;
  }
  .left-margin {
    margin-left: 0;
  }
  header .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: none;
  }
  header .mainMenu li a {
    font-size: 3rem;
  }
  header .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  header .openMenu {
    display: inline-block;
  }
  header .mainMenu li a:hover {
    background: none;
    background: #6554df;
    font-size: 1.6rem;
  }
  .hero .container .hero-content {
    max-width: 100%;
  }
  .hero .container .hero-content h2 {
    font-size: 2.5em;
  }
  .hero .container .hero-content p {
    font-size: 0.8em;
  }
  .hero .container .hero-content .btn {
    margin-top: 1.5em;
    font-size: 1.6em;
    padding: 12px 3px;
  }
  .hero .container img {
    max-width: 100%;
  }
  .testimonial .testimonial-text h1 {
    font-size: 2em;
  }
  .testimonial .testimonial-text p {
    font-size: 1.3em;
  }
  .testimonial .container-cta p {
    font-size: 1.1em;
  }
  .testimonial .container-cta .col {
    max-width: 24%;
  }
  .about-us h1 {
    font-size: 2em;
  }
  .about-us p {
    font-size: 1.2em;
  }
  .about-us .about-content {
    margin-top: 7em;
  }
  .about-us .about-content p {
    font-size: 1em;
  }
  .ourdoctor .ourdoctor-text h1 {
    font-size: 2em;
  }
  .ourdoctor .ourdoctor-text p {
    font-size: 1.4em;
  }
  .ourdoctor .ourdoctor-cta p {
    font-size: 0.5em;
  }
  .ourdoctor .ourdoctor-cta i {
    width: 23%;
    padding: 0.5em;
    border-radius: 0em 58em 6em 53em;
  }
  .ourdoctor .ourdoctor-cta .col {
    max-width: 24%;
  }
  .feedback .feedback-text h1 {
    font-size: 2em;
  }
  .feedback .feedback-text p {
    font-size: 1.4em;
  }
  .feedback .flex-container {
    height: 24rem;
  }
  .feedback .item-1 img {
    margin-top: 3.4em;
    max-width: 64%;
  }
  .feedback .item-2 p {
    font-size: 1em;
    line-height: 14px;
  }
  .feedback .item-2 h4 {
    font-size: 1.2em;
    line-height: 9px;
  }
  .feedback .item-2 h3 {
    font-size: 1.5em;
    line-height: 2px;
  }
  .feedback .item-2 .left-arrow {
    font-size: 1.4em;
  }
  .feedback .item-2 .right-arrow {
    width: 16%;
    height: 13%;
    font-size: 1.4em;
  }
  .feedback .item-3 img {
    max-width: 25%;
    margin-top: 7em;
    margin-left: 0em;
  }
  .footer {
    margin-top: 1em;
  }
  .footer .form {
    width: 70%;
    margin-left: 10em;
    margin-top: 1.2em;
  }
  .footer .form .form-content h4 {
    font-size: 1em;
  }
  .footer .form .form-content p {
    font-size: 5px;
  }
  .footer .form .formbox-cta input {
    font-size: 8px;
    padding: 10px 12px;
  }
  .footer .form .formbox-cta button {
    width: 5em;
    padding: 6px 0px;
    font-size: 1rem;
  }
  .footer .footer-content {
    height: 25vh;
  }
  .footer .footer-col {
    width: 23%;
  }
  .footer .footer-col .logo-cta {
    margin-top: 0.6em;
    font-size: 1.5rem;
  }
  .footer .footer-col h4 {
    font-size: 0.9em;
    margin-left: 3.9em;
  }
  .footer .footer-col h3 {
    font-size: 0.9em;
    margin-left: 3.9em;
  }
  .footer .footer-col h2 {
    font-size: 0.9em;
  }
  .footer .footer-col ul {
    padding-left: 29px;
  }
  .footer .footer-col ul li a {
    font-size: 1em;
  }
  .footer .footer-col .social-links a {
    line-height: 2em;
  }
  .footer .footer-col .social-links .box {
    margin-left: -8em;
  }
  .footer .footer-col .social-links .box .form-box input {
    font-size: 4.5px;
    padding: 10px 0px;
  }
  .footer .footer-col .social-links .box .form-box button {
    font-size: 8px;
    padding: 6px 0px;
  }
}

@media screen and (max-width: 540px) {
  html {
    font-size: 50%;
  }
  .background {
    height: 363px;
  }
  .ourdoctor .ourdoctor-text h1 {
    font-size: 2em;
  }
  .ourdoctor .ourdoctor-text p {
    font-size: 1.4em;
  }
  .ourdoctor .ourdoctor-cta p {
    font-size: 0.5em;
  }
  .ourdoctor .ourdoctor-cta i {
    width: 30%;
    padding: 0.6em;
    border-radius: 0em 58em 6em 53em;
  }
  .ourdoctor .ourdoctor-cta .col {
    max-width: 24%;
  }
  .feedback .feedback-text h1 {
    font-size: 2em;
  }
  .feedback .feedback-text p {
    font-size: 1.4em;
  }
  .feedback .flex-container {
    height: 23rem;
  }
  .feedback .item-1 img {
    margin-top: 3.8em;
    max-width: 64%;
  }
  .feedback .item-2 p {
    font-size: 0.9em;
    line-height: 10px;
  }
  .feedback .item-2 h4 {
    font-size: 1.2em;
    line-height: 5px;
  }
  .feedback .item-2 h3 {
    font-size: 1.5em;
    line-height: 5px;
  }
  .feedback .item-2 .left-arrow {
    font-size: 1.3em;
  }
  .feedback .item-2 .right-arrow {
    width: 16%;
    height: 13%;
    margin-left: 1.1em;
  }
  .feedback .item-3 img {
    max-width: 28%;
    margin-top: 9em;
    margin-left: -5em;
  }
  .footer {
    margin-top: 1em;
  }
  .footer .form {
    margin-left: 10em;
    margin-top: 1.2em;
  }
  .footer .form .form-content h4 {
    font-size: 1em;
  }
  .footer .form .form-content p {
    font-size: 6px;
  }
  .footer .form .formbox-cta input {
    font-size: 7px;
    padding: 10px 3px;
  }
  .footer .form .formbox-cta button {
    width: 5em;
    padding: 6px 0px;
    font-size: 1rem;
  }
  .footer .footer-content {
    height: 25vh;
  }
  .footer .footer-col {
    width: 23%;
  }
  .footer .footer-col .logo-cta {
    margin-top: 0.6em;
    font-size: 1.4rem;
  }
  .footer .footer-col h4 {
    font-size: 0.9em;
    margin-left: 3.9em;
  }
  .footer .footer-col h3 {
    font-size: 0.9em;
    margin-left: 3.9em;
  }
  .footer .footer-col h2 {
    font-size: 0.9em;
  }
  .footer .footer-col ul li a {
    font-size: 1em;
  }
  .footer .footer-col .social-links a {
    line-height: 2em;
  }
  .footer .footer-col .social-links .box {
    margin-right: 0px;
    height: 100px;
    margin-right: -6em;
  }
  .footer .footer-col .social-links .box .form-box input {
    width: 12em;
    font-size: 3.9px;
    padding: 10px 6px;
  }
  .footer .footer-col .social-links .box .form-box button {
    width: 30px;
    font-size: 6px;
    padding: 5px 0px;
  }
}

@media screen and (max-width: 481px) {
  html {
    font-size: 65%;
  }
  .background {
    background: none;
    height: inherit;
    width: inherit;
  }
  .hero img {
    display: inline;
  }
  .header .logo {
    font-size: 2.5rem;
    padding-top: 7px;
  }
  .header .mainMenu a {
    font-size: 2.1rem;
  }
  .hero .container {
    margin-top: 0px;
  }
  .hero .container .hero-content {
    max-width: 100%;
  }
  .hero .container .hero-content h2 {
    margin-top: 0px;
    font-size: 2.5em;
  }
  .hero .container .hero-content p {
    font-size: 1.3em;
    padding-right: 0px;
  }
  .hero .container .hero-content .btn {
    font-size: 1.5em;
    padding: 15px 13px;
  }
  .hero .container img {
    max-width: 100%;
  }
  .testimonial {
    margin-top: -3em;
  }
  .testimonial .testimonial-text h1 {
    font-size: 1.5em;
    margin-top: 3em;
  }
  .testimonial .testimonial-text p {
    font-size: 1em;
  }
  .testimonial .container-cta p {
    font-size: 1em;
  }
  .testimonial .container-cta .col {
    max-width: 100%;
  }
  .about-us h1 {
    font-size: 2.2em;
  }
  .about-us p {
    font-size: 1.2em;
  }
  .about-us .about-content {
    float: inherit;
    max-width: 100%;
    margin-top: 2.3em;
  }
  .about-us .about-content p {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.9em;
  }
  .about-us .about-content i {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 14%;
    padding: 0.5em;
    border-radius: 0 48em 0 41em;
  }
  .about-us img {
    max-width: 100%;
    margin-top: 2em;
  }
  .ourdoctor .ourdoctor-text h1 {
    font-size: 1.5em;
  }
  .ourdoctor .ourdoctor-text p {
    font-size: 1em;
  }
  .ourdoctor .ourdoctor-cta i {
    width: 16%;
    padding: 0.8em;
    border-radius: 0em 58em 6em 53em;
  }
  .ourdoctor .ourdoctor-cta p {
    margin-top: 1em;
    font-size: 1em;
  }
  .ourdoctor .ourdoctor-cta .col {
    max-width: 100%;
  }
  .feedback .feedback-text {
    padding: 0 2em 0 2em;
  }
  .feedback .feedback-text h1 {
    font-size: 1.5em;
  }
  .feedback .feedback-text p {
    font-size: 1.1em;
  }
  .feedback .flex-container {
    height: 50vh;
    display: block;
  }
  .feedback .item-1 img {
    margin-top: 1em;
    max-width: 60%;
    padding: 3.5em 0 0 0;
  }
  .feedback .item-2 {
    padding: 2em;
    text-align: center;
  }
  .feedback .item-2 p {
    font-size: 1.1em;
    line-height: 15px;
  }
  .feedback .item-2 h4 {
    font-size: 1.6em;
    line-height: 22px;
  }
  .feedback .item-2 h3 {
    font-size: 1.9em;
    line-height: 12px;
  }
  .feedback .item-2 .left-arrow {
    font-size: 1.5em;
  }
  .feedback .item-2 .right-arrow {
    width: 16%;
    height: 25%;
    margin-left: 1.1em;
    font-size: 1.5em;
    padding: 0.5em;
  }
  .feedback .item-3 img {
    max-width: 80%;
    margin-top: 0em;
    position: static;
    margin-left: 4em;
  }
  .footer {
    margin-top: 6rem;
  }
  .footer .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 75%;
    height: 26vh;
    margin-left: 4.8em;
    margin-top: 28em;
  }
  .footer .form .form-content h4 {
    font-size: 1.2em;
    margin-left: 1em;
  }
  .footer .form .form-content p {
    font-size: 12px;
    margin-left: 1em;
  }
  .footer .form .formbox-cta {
    margin-top: -3em;
    margin-left: 3.5em;
  }
  .footer .form .formbox-cta input {
    font-size: 8px;
    padding: 12px 20px;
  }
  .footer .form .formbox-cta button {
    width: 5em;
    margin-top: 0.4em;
    padding: 8px 0px;
    font-size: 0.9rem;
  }
  .footer .footer-content {
    height: 118%;
    margin-top: 40em;
  }
  .footer .row {
    display: block;
    margin-top: 10em;
  }
  .footer .footer-col {
    width: 100%;
  }
  .footer .footer-col .logo-cta {
    font-size: 2.2rem;
    text-align: center;
    margin-left: 0px;
    padding: 5em 0 0 0;
  }
  .footer .footer-col h4 {
    margin-top: -2em;
    font-size: 1.5em;
    text-align: center;
    margin-left: 0px;
  }
  .footer .footer-col h3 {
    margin-top: -3em;
    font-size: 1.5em;
    text-align: center;
    margin-left: 0px;
  }
  .footer .footer-col h2 {
    margin-top: -3em;
    font-size: 1.5em;
    text-align: center;
    margin-left: 0px;
  }
  .footer .footer-col ul {
    padding-left: 0px;
  }
  .footer .footer-col ul li a {
    font-size: 1.4em;
    text-align: center;
  }
  .footer .footer-col .social-links {
    text-align: center;
  }
  .footer .footer-col .social-links a {
    line-height: 2.1em;
    font-size: 2em;
  }
  .footer .footer-col .social-links .box {
    margin-right: -40px;
    height: 75px;
    margin-left: -2em;
  }
  .footer .footer-col .social-links .box .form-box input {
    font-size: 12px;
    width: 10em;
    padding: 14px 30px;
  }
  .footer .footer-col .social-links .box .form-box button {
    font-size: 9px;
    width: 8em;
    padding: 9px 0px;
  }
}

@media screen and (width: 414px) {
  .footer {
    margin-top: 8rem;
  }
  .footer .form {
    width: 75%;
    height: 22vh;
    margin-left: 5.5em;
    margin-top: 33em;
  }
  .footer .form .form-content h4 {
    font-size: 1.2em;
    margin-left: 1em;
  }
  .footer .form .form-content p {
    font-size: 9px;
    margin-left: 1em;
  }
  .footer .form .formbox-cta {
    margin-top: -3em;
    margin-left: 4.3em;
  }
  .footer .form .formbox-cta input {
    font-size: 8px;
    padding: 12px 25px;
    margin-top: 0.3em;
  }
  .footer .form .formbox-cta button {
    padding: 8px 0px;
    font-size: 1.1rem;
  }
}

@media screen and (width: 411px) {
  .footer {
    margin-top: 5em;
  }
  .footer .form {
    width: 75%;
    height: 22vh;
    margin-left: 5.5em;
    margin-top: 33em;
  }
  .footer .form .form-content h4 {
    font-size: 1.2em;
    margin-left: 1em;
  }
  .footer .form .form-content p {
    font-size: 12px;
    margin-left: 1em;
  }
  .footer .form .formbox-cta {
    margin-top: -3em;
    margin-left: 4.3em;
  }
  .footer .form .formbox-cta input {
    font-size: 8px;
    padding: 15px 15px;
  }
  .footer .form .formbox-cta button {
    padding: 8px 0px;
    font-size: 1.1rem;
  }
}

@media screen and (width: 375px) {
  .footer {
    margin-top: 6rem;
  }
  .footer .form {
    width: 75%;
    height: 25%;
    margin-left: 5em;
    margin-top: 29em;
  }
  .footer .form .form-content h4 {
    font-size: 1.2em;
    margin-left: 1em;
  }
  .footer .form .form-content p {
    font-size: 12px;
    margin-left: 1em;
  }
  .footer .form .formbox-cta {
    margin-top: -3em;
    margin-left: 3.7em;
  }
  .footer .form .formbox-cta input {
    font-size: 8px;
    padding: 15px 25px;
  }
  .footer .form .formbox-cta button {
    padding: 8px 0px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 5em;
  }
  .footer .form {
    width: 75%;
    height: 23%;
    margin-left: 4.3em;
    margin-top: 32em;
  }
  .footer .form .form-content h4 {
    font-size: 1em;
    margin-left: 0.9em;
  }
  .footer .form .form-content p {
    font-size: 8px;
    margin-left: 1em;
  }
  .footer .form .formbox-cta {
    margin-top: -1em;
    margin-left: 4.3em;
  }
  .footer .form .formbox-cta input {
    font-size: 6px;
    padding: 10px 15px;
  }
  .footer .form .formbox-cta button {
    padding: 8px 0px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 280px) {
  .footer {
    margin-top: 13em;
  }
  .footer .form {
    width: 75%;
    height: 26vh;
    margin-left: 3.8em;
    margin-top: 20em;
  }
  .footer .form .form-content h4 {
    font-size: 1em;
  }
  .footer .form .form-content p {
    font-size: 9px;
    margin-left: 1em;
  }
  .footer .form .formbox-cta {
    margin-top: -3em;
    margin-left: 3.5em;
  }
  .footer .form .formbox-cta input {
    font-size: 5px;
    padding: 15px 10px;
  }
  .footer .form .formbox-cta button {
    padding: 8px 0px;
    font-size: 0.8rem;
  }
  .footer .footer-content {
    height: 110vh;
    margin-top: 30em;
  }
  .footer .row {
    display: block;
    margin-top: 10em;
  }
  .footer .footer-col {
    width: 100%;
  }
  .footer .footer-col .logo-cta {
    font-size: 2.2rem;
    text-align: center;
    margin-left: 0px;
    padding: 4.5em 0 0 0;
  }
  .footer .footer-col h4 {
    margin-top: -3em;
    font-size: 1.5em;
    text-align: center;
    margin-left: 0px;
  }
  .footer .footer-col h3 {
    margin-top: -3em;
    font-size: 1.5em;
    text-align: center;
    margin-left: 0px;
  }
  .footer .footer-col h2 {
    margin-top: -3em;
    font-size: 1.5em;
    text-align: center;
    margin-left: 0px;
  }
  .footer .footer-col ul {
    padding-left: 0px;
  }
  .footer .footer-col ul li a {
    font-size: 1.4em;
    text-align: center;
  }
  .footer .footer-col .social-links {
    text-align: center;
  }
  .footer .footer-col .social-links a {
    line-height: 2.1em;
    font-size: 2em;
  }
  .footer .footer-col .social-links .box {
    margin-right: -2em;
    height: 75px;
  }
  .footer .footer-col .social-links .box .form-box input {
    font-size: 10px;
    width: 10em;
  }
  .footer .footer-col .social-links .box .form-box button {
    font-size: 9px;
    width: 6em;
  }
}
/*# sourceMappingURL=main.css.map */