@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    background-color: #fafbfd;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

    html {
        font-size: 1.5vw;
    }
}
.container {
    margin-top: 1em;
}
.left-margin {
    margin-left: 6.5rem;
}
.main-container {
    padding: 1.1em;
    margin-left: 3em;
    margin-right: 3em;
}
.background {
    background-image: url(/images/background.png);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center center;
}
section {
    padding: 2em;
}
header {
    padding: 2em;
    color: #fff;
    display: flex;
    justify-content: space-between;
    .mainMenu {
        display: flex;
        list-style: none;
        li a {
            display: inline-block;
            padding: 15px;
            font-weight: bold;
            text-decoration: none;
            color: #818991;
            font-size: 1.2rem;
            margin-right: 14px;
            &:hover {
                background: rgb(101, 84, 223);
                border-radius: 0.4em;
            }
        }
    }
}
header .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #000;
    margin-right: 5px;
}
header .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.logo {
    margin-top: 0.9em;
    font-size: 2rem;
    color: #2c39c2;
    font-weight: bold;
    text-decoration: none;
    i {
        width: 1.5em;
    }
}
/*hero section*/
.hero {
    .hero-content {
        max-width: 50%;
        float: left;
        h2 {
            font-weight: bold;
            font-size: 3em;
        }
        p {
            color: #818991;
            padding: 0 2em 0 0;
            font-size: 1em;
        }

        .btn {
            display: block;
            margin-top: 2.4em;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background-color: rgb(101, 84, 223);
            padding: 15px 6px;
            border-radius: 3px;
            width: 10vw;
            text-align: center;
            font-size: 0.8em;
            // box-shadow: 0 4px 4px 0 rgba(65, 68, 233, 0.274);
        }
    }
    img {
        display: inline;
        max-width: 49%;
        height: auto;
        display: none;
    }
}
/*testimonial section*/
.testimonial {
    .testimonial-text {
        text-align: center;

        h1 {
            margin-top: 0em;
            font-size: 2em;
        }
        p {
            font-size: 1em;
            color: #818991;
        }
    }
    .container-cta {
        margin-top: 1em;
        text-align: center;

        h3 {
            font-size: 1.5em;
        }
        p {
            font-size: 0.8em;
            color: #818991;
        }
        .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .col {
            background-color: #ffffff;
            display: inline-block;
            padding: 10px;
            margin: 20px;
            max-width: 20%;
            box-sizing: border-box;
            box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
            border-radius: 0.2em;
        }
        img {
            padding: 0.4em 0 0 0;
            height: 7em;
        }
    }
}
/*about us section*/
.about-us {
    text-align: center;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
        color: #818991;
    }

    .about-content {
        float: right;

        max-width: 50%;
        margin-top: 10em;

        p {
            font-size: 1.2em;
            line-height: 1.5em;
            font-weight: bold;
            text-align: justify;
            color: #7d838d;
        }
    }
    img {
        max-width: 50%;
        margin-top: 5em;
    }
}
/*our doctor*/
.ourdoctor {
    .ourdoctor-text {
        text-align: center;

        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1em;
            color: #818991;
        }
    }
    .ourdoctor-cta {
        text-align: center;
        h3 {
            margin-top: 0.2em;
            font-size: 2em;
        }
        p {
            margin-top: -2em;
            font-size: 0.7em;
            color: #818991;
        }
        i {
            color: #818991;
            margin-top: 1em;
            margin-bottom: 0.5em;
            width: 15%;
            font-size: 11px;
            padding: 0.9em;
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
            border-radius: 0em 58em 6em 53em;
        }
        .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .col {
            background-color: #ffffff;
            display: inline-block;
            padding: 15px;
            margin: 20px;
            max-width: 23%;
            box-sizing: border-box;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
            border-radius: 0.2em;
        }
        img {
            height: 4.5em;
            border-radius: 50%;
            border: 3px solid rgb(101, 84, 223);
        }
    }
}
/*feedback*/
.feedback {
    padding-right: 0px;
    padding-left: 0px;
    .feedback-text {
        text-align: center;

        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.1em;
            color: #818991;
        }
    }
    .flex-container {
        display: flex;
        height: 45vh;
        margin-top: 4em;
    }
    .flex-container div {
        background-color: #f2f2fc;
    }
    .item-1 {
        flex: 1.3;
        img {
            max-width: 46%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5.5em;
            border-radius: 0.3em;
            margin-top: 57px;
        }
    }
    .item-2 {
        flex: 1.5;
        padding: 4em 0 2em 0;
        padding-top: 37px;

        p {
            font-size: 0.9em;
            color: #818991;
        }
        h4 {
            margin-top: 2.5em;
            font-size: 1.1em;
            margin-bottom: 0px;
        }
        h3 {
            color: #58abf6;
            font-size: 1.3em;
            margin-top: 0px;
        }
        .left-arrow {
            border: none;
            background-color: #f2f2fc;
            color: #818991;
            font-size: 1em;
            &:hover {
                color: #58abf6;
            }
        }
        .right-arrow {
            border: none;
            background-color: #fff;
            font-size: 1em;
            color: #818991;
            width: 10%;
            height: 9%;
            border-radius: 50rem 0rem 50rem 50rem;
margin-left: 1.5em;
            box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
            &:hover {
                color: #58abf6;
            }
        }
    }
    .item-3 {
        flex: 1;
        img {
            max-width: 26%;
            margin-top: 4em;
            position: absolute;
            margin-left: -15em;
        }
    }
}
/*footer*/
.footer {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 5em;
    .form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(101, 84, 223);
        width: 62%;
        border-radius: 0.8em;
        margin-left: 20em;
        position: absolute;
        margin-top: -4em;
        .form-content {
            padding: 1em;
            border-radius: 1em;

            align-items: center;

            h4 {
                color: #fff;
                margin-left: 1em;
            }
            p {
                color: #fff;
                font-size: 15px;
                margin-left: 1.8em;
            }
        }
        .formbox-cta {
            margin-right: 4em;
            background-color: #fff;
            border-radius: 50rem;

            input {
                border-radius: 50px;
                font-size: 12px;
                padding: 17.5px 12.5px;
                border: none;
                outline: none;
                background-color: #fff;
            }
            button {
                width: 5em;
                color: #fff;
                padding: 10px 0px;
                font-size: 1.2rem;
                border: none;
                border-radius: 50px;
                background: rgb(101, 84, 223);
                cursor: pointer;
                margin-right: 0.6em;
                margin-top: 0.3em;
            }
        }
    }
    .footer-content {
        height: 469px;
        background-color: #ebebf7;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-col {
        width: 25%;
        margin-top: 7em;
        .logo-cta {
            margin-top: 1em;
            font-size: 2.2rem;
            color: #2c39c2;
            font-weight: bold;
            text-decoration: none;
            margin-left: 2em;
            i {
                width: 1.2em;
            }
        }

        h4 {
            font-size: 1.1em;
            margin-left: 2.2em;
        }
        h3 {
            font-size: 1.1em;
            margin-left: 2.2em;
        }
        h2 {
            font-size: 1.1em;
        }
        ul {
            list-style: none;
            li {
                a {
                    font-size: 1.1em;
                    font-weight: bold;
                    text-decoration: none;
                    line-height: 1.8em;
                    color: #8a8b90;
                    display: block;

                    &:hover {
                        color: rgb(101, 84, 223);
                    }
                }
            }
        }
        .social-links {
            a {
                margin: 0 10px 10px 0;
                text-align: center;
                color: #bbbbbb;
                line-height: 2.3em;
                font-size: 2em;

                &:hover {
                    color: rgb(101, 84, 223);
                }
            }

            .box {
                display: flex;
                height: 80vh;
                align-content: center;
                justify-content: center;
                margin-right: 6.8em;
                margin-right: 0px;
                margin-left: -8em;

                .form-box {
                    border-radius: 50px;
                    background: #fff;
                    float: left;
                }
                .form-box input {
                    font-size: 12px;
                    color: #0000;
                    padding: 15px 10px;
                    border: none;
                    outline: none;
                    border-radius: 50%;
                    margin-left: 1em;
                }
                .form-box button {
                    width: 5em;
                    color: #fff;
                    padding: 7px 10px;
                    font-size: 0.9em;
                    border: none;
                    border-radius: 50px;
                    background: rgb(101, 84, 223);
                    cursor: pointer;
                    margin-right: 1.5em;
                    margin-top: 0.2em;
                }
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    html {
        font-size: 1.5vw;
    }
    .background {
        height: 679px;
    }
    header {
        .mainMenu {
            li a {
                font-size: 1rem;
            }
        }
    }

    .section {
        padding: 2rem;
    }
    .hero {
        .container {
            .hero-content {
                h2 {
                    font-size: 2em;
                }
                p {
                    font-size: 0.7em;
                }
                .btn {
                    font-size: 1em;
                    margin-top: 1.5em;
                    width: 10em;
                }
            }
            img {
                margin-top: 3em;
            }
        }
    }
    .testimonial {
        .testimonial-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.2em;
            }
        }
        .container-cta {
            h3 {
                font-size: 1.3em;
            }
            p {
                font-size: 0.6em;
            }
            .col {
                max-width: 27%;
                box-shadow: 0 1.5px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
            }
        }
    }
    .about-us {
        .about-content {
            margin-top: 8em;
            p {
                font-size: 0.8em;
                line-height: 1.8em;
            }
        }
    }
    .ourdoctor {
        .ourdoctor-text {
            h1 {
                font-size: 2.1em;
            }
            p {
                font-size: 1.3em;
            }
        }
        .ourdoctor-cta {
            i {
                margin-top: 1em;
                margin-bottom: 0.5em;
                width: 19%;
                padding: 1em;

                border-radius: 0em 58em 6em 53em;
            }
            .col {
                max-width: 26%;
            }
        }
    }
    .feedback {
        .feedback-text {
            h1 {
                font-size: 2.1em;
            }
            p {
                font-size: 1.3em;
            }
        }
        .flex-container {
            height: 50%;
        }
        .item-1 {
            img {
                margin-top: 3em;
                max-width: 58%;
            }
        }
        .item-2 {
            padding: 2.5em 0 2em 0;
            p {
                font-size: 0.8em;
            }
            h4 {
                margin-top: 1.5em;
                font-size: 1em;
                margin-bottom: 0px;
            }
            h3 {
                font-size: 1.1em;
            }
            .left-arrow {
                font-size: 0.8em;
            }
            .right-arrow {
                width: 12%;
                height: 13%;
                margin-left: 2em;
                font-size: 0.8em;
            }
        }
        .item-3 {
            img {
                max-width: 28%;
                margin-top: 5em;
                margin-left: -3em;
            }
        }
    }
    .footer {
        margin-top: 1em;
        .form {
            width: 60%;

            margin-left: 10em;

            margin-top: 0.5em;
            .form-content {
                h4 {
                    font-size: 1em;
                }
                p {
                    font-size: 9px;
                }
            }
            .formbox-cta {
                margin-right: 2em;

                input {
                    font-size: 12px;
                    padding: 20px 10px;
                }
                button {
                    width: 5em;

                    padding: 12px 0px;
                    font-size: 1.2rem;
                }
            }
        }
        .footer-content {
            margin-top: 4.5em;
        }
        .footer-col {
            width: 23%;

            .logo-cta {
                margin-top: 0.6em;
                font-size: 1.6rem;
                margin-left: 2em;
                i {
                    width: 1.1em;
                }
            }

            h4 {
                font-size: 1em;
            }
            h3 {
                font-size: 1em;
            }
            h2 {
                font-size: 1em;
            }
            ul {
                li {
                    a {
                        font-size: 1em;

                        &:hover {
                            color: rgb(101, 84, 223);
                        }
                    }
                }
            }
            .social-links {
                a {
                    line-height: 1.8em;
                    font-size: 1.5em;
                }
                .box {
                    margin-right: -5em;
                    height: 75px;

                    .form-box input {
                        font-size: 10px;
                    }
                    .form-box button {
                        font-size: 11px;
                        border: none;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 1.5vw;
    }
    .background {
        height: 573px;
    }
    header {
        padding: 2em;

        .mainMenu {
            li a {
                margin-top: 0.4em;
                font-size: 0.9rem;
                margin-right: 5px;
                &:hover {
                    background: rgb(101, 84, 223);
                    border-radius: 0.4em;
                }
            }
        }
    }
    .hero {
        .container {
            .hero-content {
                h2 {
                    font-size: 2.5em;
                }
                p {
                    font-size: 0.7em;
                }
                .btn {
                    font-size: 1em;
                    margin-top: 1.4em;
                    font-weight: normal;
                    padding: 12px 8px;
                    color: #fff;
                }
            }
            img {
                max-width: 50%;
                height: auto;
            }
        }
    }
    .testimonial {
        .testimonial-text {
            h1 {
                font-size: 1.4em;
            }
            p {
                font-size: 0.9em;
            }
        }
        .container-cta {
            h3 {
                font-size: 1em;
            }
            p {
                font-size: 0.5em;
            }
            .col {
                margin: 17px;
                max-width: 26.2%;
                box-shadow: 0 1px 4px 0 rgba(224, 224, 224, 0.856), 0 1px 5px 0 rgba(0, 0, 0, 0);
            }
            img {
                padding: 0.8em 0 0 0;
                height: 6em;
            }
        }
    }
    .about-us {
        h1 {
            font-size: 1.4em;
        }
        p {
            font-size: 0.9em;
        }

        .about-content {
            margin-top: 7em;

            p {
                font-size: 0.8em;
            }
        }
    }
    .ourdoctor {
        .ourdoctor-text {
            h1 {
                font-size: 1.4em;
            }
            p {
                font-size: 0.9em;
            }
        }
        .ourdoctor-cta {
            h3 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
            p {
                margin-top: 0.2em;
                line-height: 1.3em;
                font-size: 0.5em;
            }
            i {
                margin-top: 1em;
                margin-bottom: 0.5em;
                width: 21%;
                padding: 0.6em;

                border-radius: 0em 58em 6em 53em;
            }
            .col {
                padding: 20px;
                margin: 16.5px;
                max-width: 25%;
                box-shadow: 0 1px 4px 0 rgba(224, 224, 224, 0.856), 0 1px 5px 0 rgba(0, 0, 0, 0);
                border-radius: 0.2em;
            }
            img {
                height: 4.1em;
            }
        }
    }
    .feedback {
        .feedback-text {
            h1 {
                font-size: 1.4em;
            }
            p {
                font-size: 0.9em;
            }
        }
        .flex-container {
            height: 30vw;
        }
        .item-1 {
            img {
                margin-top: 4em;
                max-width: 58%;
            }
        }
        .item-2 {
            padding: 3em 0 0 0;
            p {
                font-size: 0.7em;
                line-height: 10px;
            }
            h4 {
                line-height: 20px;
                font-size: 1.1em;
            }
            h3 {
                line-height: 20px;
                font-size: 1.4em;
            }
            .left-arrow { 
                font-size:1em;
            }
            .right-arrow { 
                width: 16%;
                height: 13%;
                margin-left: 1.1em;            
            }
        }
        .item-3 {
            img {
                max-width: 30%;
                margin-top: 6em;
                margin-left: -5em;
            }
        }
    }
    .footer {
        margin-top: 1em;
        .form {
            width: 58%;
            margin-left: 12em;
            margin-top: 1.2em;
            .form-content {
                h4 {
                    font-size: 0.8em;
                }
                p {
                    font-size: 8px;
                    margin-left: 1.5em;
                }
            }
            .formbox-cta {
                input {
                    font-size: 9px;
                    padding: 12px 2px;
                }
                button {
                    width: 5em;

                    padding: 7px 0px;
                    font-size: 0.9rem;
                    margin-right: 0.4em;
                }
            }
        }
        .footer-content {
            margin-top: 6em;
            height: 30vw;
        }
        .footer-col {
            width: 23%;

            .logo-cta {
                margin-top: 0.3em;
                margin-left: 4em;
                font-size: 1.3rem;
            }

            h4 {
                font-size: 0.7em;
                margin-left: 3.9em;
            }
            h3 {
                font-size: 0.7em;
                margin-left: 3.9em;
            }
            h2 {
                font-size: 0.7em;
            }
            ul {
                padding-left: 42px;
                li {
                    a {
                        font-size: 0.8em;
                    }
                }
            }
            .social-links {
                a {
                    line-height: 2em;
                    font-size: 1.3em;
                }
                .box {
                    margin-left: -110px;
                    height: 75%;

                    .form-box input {
                        font-size: 6px;
                        padding: 12px 10px;
                    }
                    .form-box button {
                        width: 5em;
                        margin-top: 0.3em;
                        margin-right: 0.5em;
                        padding: 6px 0px;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .main-container {
        padding: 1em;
        margin-left: 0em;
        margin-right: 0em;
    }
    .background {
        height: 487px;
    }
    .left-margin {
        margin-left: 0;
    }
    header .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
        li a {
            font-size: 3rem;
        }
    }
    header .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    header .openMenu {
        display: inline-block;
    }
    header .mainMenu li a:hover {
        background: none;
        background: rgb(101, 84, 223);
        font-size: 1.6rem;
    }
    .hero {
        .container {
            .hero-content {
                max-width: 100%;
                h2 {
                    font-size: 2.5em;
                }
                p {
                    font-size: 0.8em;
                }
                .btn {
                    margin-top: 1.5em;
                    font-size: 1.6em;
                    padding: 12px 3px;
                }
            }

            img {
                max-width: 100%;
            }
        }
    }
    .testimonial {
        .testimonial-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.3em;
            }
        }
        .container-cta {
            p {
                font-size: 1.1em;
            }

            .col {
                max-width: 24%;
            }
        }
    }
    .about-us {
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.2em;
        }
        .about-content {
            margin-top: 7em;

            p {
                font-size: 1em;
            }
        }
    }
    .ourdoctor {
        .ourdoctor-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.4em;
            }
        }
        .ourdoctor-cta {
            p {
                font-size: 0.5em;
            }
            i {
                width: 23%;
                padding: 0.5em;
                border-radius: 0em 58em 6em 53em;
            }

            .col {
                max-width: 24%;
            }
        }
    }
    .feedback {
        .feedback-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.4em;
            }
        }
        .flex-container {
            height: 24rem;
        }
        .item-1 {
            img {
                margin-top: 3.4em;
                max-width: 64%;
            }
        }
        .item-2 {
            p {
                font-size: 1em;
                line-height: 14px;
            }
            h4 {
                font-size: 1.2em;
                line-height: 9px;
            }
            h3 {
                font-size: 1.5em;
                line-height: 2px;
            }
         
            .left-arrow { 
                font-size:1.4em;
            }
            .right-arrow { 
                width: 16%;
                height: 13%;
               font-size: 1.4em;       
            }
        }
        .item-3 {
            img {
                max-width: 25%;
                margin-top: 7em;
                margin-left: 0em;
            }
        }
    }
    .footer {
        margin-top: 1em;
        .form {
            width: 70%;
            margin-left: 10em;
            margin-top: 1.2em;
            .form-content {
                h4 {
                    font-size: 1em;
                }
                p {
                    font-size: 5px;
                }
            }
            .formbox-cta {
                input {
                    font-size: 8px;
                    padding: 10px 12px;
                }
                button {
                    width: 5em;

                    padding: 6px 0px;
                    font-size: 1rem;
                }
            }
        }
        .footer-content {
            height: 25vh;
        }
        .footer-col {
            width: 23%;

            .logo-cta {
                margin-top: 0.6em;
                font-size: 1.5rem;
            }

            h4 {
                font-size: 0.9em;
                margin-left: 3.9em;
            }
            h3 {
                font-size: 0.9em;
                margin-left: 3.9em;
            }
            h2 {
                font-size: 0.9em;
            }
            ul {
                padding-left: 29px;
                li {
                    a {
                        font-size: 1em;
                    }
                }
            }
            .social-links {
                a {
                    line-height: 2em;
                }
                .box {
                    margin-left: -8em;

                    .form-box input {
                        font-size: 4.5px;
                        padding: 10px 0px;
                    }
                    .form-box button {
                        font-size: 8px;
                        padding: 6px 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    html {
        font-size: 50%;
    }
    .background {
        height: 363px;
    }

    .ourdoctor {
        .ourdoctor-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.4em;
            }
        }
        .ourdoctor-cta {
            p {
                font-size: 0.5em;
            }
            i {
                width: 30%;
                padding: 0.6em;
                border-radius: 0em 58em 6em 53em;
            }

            .col {
                max-width: 24%;
            }
        }
    }

    .feedback {
        .feedback-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.4em;
            }
        }
        .flex-container {
            height: 23rem;
        }
        .item-1 {
            img {
                margin-top: 3.8em;
                max-width: 64%;
            }
        }
        .item-2 {
            
            p {
                font-size: 0.9em;
                line-height: 10px;
            }
            h4 {
                font-size: 1.2em;
                line-height: 5px;
            }
            h3 {
                font-size: 1.5em;
                line-height: 5px;
            }
            .left-arrow { 
                font-size:1.3em;
            }
            .right-arrow { 
                width: 16%;
                height: 13%;
                margin-left: 1.1em;            
            }
        }
        .item-3 {
            img {
                max-width: 28%;
                margin-top: 9em;
                margin-left: -5em;
            }
        }
    }
    .footer {
        margin-top: 1em;
        .form {
            margin-left: 10em;
            margin-top: 1.2em;
            .form-content {
                h4 {
                    font-size: 1em;
                }
                p {
                    font-size: 6px;
                }
            }
            .formbox-cta {
                input {
                    font-size: 7px;
                    padding: 10px 3px;
                }
                button {
                    width: 5em;

                    padding: 6px 0px;
                    font-size: 1rem;
                }
            }
        }
        .footer-content {
            height: 25vh;
        }
        .footer-col {
            width: 23%;

            .logo-cta {
                margin-top: 0.6em;
                font-size: 1.4rem;
            }

            h4 {
                font-size: 0.9em;
                margin-left: 3.9em;
            }
            h3 {
                font-size: 0.9em;
                margin-left: 3.9em;
            }
            h2 {
                font-size: 0.9em;
            }
            ul {
                li {
                    a {
                        font-size: 1em;
                    }
                }
            }
            .social-links {
                a {
                    line-height: 2em;
                }
                .box {
                    margin-right: 0px;
                    height: 100px;
                    margin-right: -6em;
                    .form-box input {
                        width: 12em;
                        font-size: 3.9px;
                        padding: 10px 6px;
                    }
                    .form-box button {
                        width: 30px;
                        font-size: 6px;
                        padding: 5px 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 481px) {
    html {
        font-size: 65%;
    }
    .background {
        //  display: none;
        background: none;
        height: inherit;
        width: inherit;
    }
    .hero img {
        display: inline;
    }

    .header {
        .logo {
            font-size: 2.5rem;
            padding-top: 7px;
        }
        .mainMenu {
            a {
                font-size: 2.1rem;
            }
        }
    }
    .hero {
        .container {
            margin-top: 0px;
            .hero-content {
                max-width: 100%;
                h2 {
                    margin-top: 0px;
                    font-size: 2.5em;
                }
                p {
                    font-size: 1.3em;
                    padding-right: 0px;
                }
                .btn {
                    font-size: 1.5em;
                    padding: 15px 13px;
                }
            }
            img {
                max-width: 100%;
            }
        }
    }

    .testimonial {
        margin-top: -3em;
        .testimonial-text {
            h1 {
                font-size: 1.5em;
                margin-top: 3em;
            }
            p {
                font-size: 1em;
            }
        }
        .container-cta {
            p {
                font-size: 1em;
            }

            .col {
                max-width: 100%;
            }
        }
    }
    .about-us {
        h1 {
            font-size: 2.2em;
        }
        p {
            font-size: 1.2em;
        }

        .about-content {
            float: inherit;
            max-width: 100%;
            margin-top: 2.3em;

            p {
                text-align: center;
                font-size: 0.8em;
                line-height: 1.9em;
            }
            i {
                margin-top: 1em;
                margin-bottom: 0.5em;
                width: 14%;
                padding: 0.5em;

                border-radius: 0 48em 0 41em;
            }
        }
        img {
            max-width: 100%;
            margin-top: 2em;
        }
    }
    .ourdoctor {
        .ourdoctor-text {
            h1 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
        .ourdoctor-cta {
            i {
                width: 16%;
                padding: 0.8em;
                border-radius: 0em 58em 6em 53em;
            }
            p {
                margin-top: 1em;
                font-size: 1em;
            }

            .col {
                max-width: 100%;
            }
        }
    }
    .feedback {
        .feedback-text {
            padding: 0 2em 0 2em;
            h1 {
                font-size: 1.5em;
            }
            p {
                font-size: 1.1em;
            }
        }
        .flex-container {
            height: 50vh;
            display: block;
        }
        .item-1 {
            img {
                margin-top: 1em;
                max-width: 60%;
                padding: 3.5em 0 0 0;
            }
        }
        .item-2 {
            padding: 2em;
            text-align: center;
            p {
                font-size: 1.1em;
                line-height: 15px;
            }
            h4 {
                font-size: 1.6em;
                line-height: 22px;
            }
            h3 {
                font-size: 1.9em;
                line-height: 12px;
            }
            .left-arrow { 
                font-size:1.5em;
            }
            .right-arrow { 
                width: 16%;
                height: 25%;
                margin-left: 1.1em;  
                font-size:1.5em;   
                padding: 0.5em;       
            }
        }
        .item-3 img {
            max-width: 80%;
            margin-top: 0em;
            position: static;
            margin-left: 4em;
        }
    }
    .footer {
        margin-top: 6rem;
        .form {
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            height: 26vh;
            margin-left: 4.8em;

            margin-top: 28em;
            .form-content {
                h4 {
                    font-size: 1.2em;
                    margin-left: 1em;
                }
                p {
                    font-size: 12px;
                    margin-left: 1em;
                }
            }
            .formbox-cta {
                margin-top: -3em;
                margin-left: 3.5em;
                input {
                    font-size: 8px;
                    padding: 12px 20px;
                }
                button {
                    width: 5em;
                    margin-top: 0.4em;
                    padding: 8px 0px;
                    font-size: 0.9rem;
                }
            }
        }

        .footer-content {
            height: 118%;
            margin-top: 40em;
        }
        .row {
            display: block;
            margin-top: 10em;
        }
        .footer-col {
            width: 100%;

            .logo-cta {
                font-size: 2.2rem;
                text-align: center;
                margin-left: 0px;
                padding: 5em 0 0 0;
            }

            h4 {
                margin-top: -2em;
                font-size: 1.5em;
                text-align: center;
                margin-left: 0px;
            }
            h3 {
                margin-top: -3em;
                font-size: 1.5em;
                text-align: center;
                margin-left: 0px;
            }
            h2 {
                margin-top: -3em;
                font-size: 1.5em;
                text-align: center;
                margin-left: 0px;
            }
            ul {
                padding-left: 0px;
                li {
                    a {
                        font-size: 1.4em;
                        text-align: center;
                    }
                }
            }
            .social-links {
                text-align: center;
                a {
                    line-height: 2.1em;
                    font-size: 2em;
                }
                .box {
                    margin-right: -40px;
                    height: 75px;
                    margin-left: -2em;
                    .form-box input {
                        font-size: 12px;
                        width: 10em;
                        padding: 14px 30px;
                    }
                    .form-box button {
                        font-size: 9px;
                        width: 8em;
                        padding: 9px 0px;
                    }
                }
            }
        }
    }
}
@media screen and (width: 414px) {
    .footer {
        margin-top: 8rem;
        .form {
            width: 75%;
            height: 22vh;
            margin-left: 5.5em;
            margin-top: 33em;
            .form-content {
                h4 {
                    font-size: 1.2em;
                    margin-left: 1em;
                }
                p {
                    font-size: 9px;
                    margin-left: 1em;
                }
            }
            .formbox-cta {
                margin-top: -3em;
                margin-left: 4.3em;
                input {
                    font-size: 8px;
                    padding: 12px 25px;
                    margin-top: 0.3em;
                }
                button {
                    padding: 8px 0px;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
@media screen and (width: 411px) {
    .footer {
        margin-top: 5em;
        .form {
            width: 75%;
            height: 22vh;
            margin-left: 5.5em;
            margin-top: 33em;
            .form-content {
                h4 {
                    font-size: 1.2em;
                    margin-left: 1em;
                }
                p {
                    font-size: 12px;
                    margin-left: 1em;
                }
            }
            .formbox-cta {
                margin-top: -3em;
                margin-left: 4.3em;
                input {
                    font-size: 8px;
                    padding: 15px 15px;
                }
                button {
                    padding: 8px 0px;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
@media screen and (width: 375px) {
    .footer {
        margin-top: 6rem;
        .form {
            width: 75%;
            height: 25%;
            margin-left: 5em;
            margin-top: 29em;
            .form-content {
                h4 {
                    font-size: 1.2em;
                    margin-left: 1em;
                }
                p {
                    font-size: 12px;
                    margin-left: 1em;
                }
            }
            .formbox-cta {
                margin-top: -3em;
                margin-left: 3.7em;
                input {
                    font-size: 8px;
                    padding: 15px 25px;
                }
                button {
                    padding: 8px 0px;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .footer {
        margin-top: 5em;
        .form {
            width: 75%;
            height: 23%;
            margin-left: 4.3em;
            margin-top: 32em;
            .form-content {
                h4 {
                    font-size: 1em;
                    margin-left: 0.9em;
                }
                p {
                    font-size: 8px;
                    margin-left: 1em;
                }
            }
            .formbox-cta {
                margin-top: -1em;
                margin-left: 4.3em;
                input {
                    font-size: 6px;
                    padding: 10px 15px;
                }
                button {
                    padding: 8px 0px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
@media screen and (max-width: 280px) {
    .footer {
        margin-top: 13em;
        .form {
            width: 75%;
            height: 26vh;
            margin-left: 3.8em;
            margin-top: 20em;
            .form-content {
                h4 {
                    font-size: 1em;
                }
                p {
                    font-size: 9px;
                    margin-left: 1em;
                }
            }
            .formbox-cta {
                margin-top: -3em;
                margin-left: 3.5em;
                input {
                    font-size: 5px;
                    padding: 15px 10px;
                }
                button {
                    padding: 8px 0px;
                    font-size: 0.8rem;
                }
            }
        }

        .footer-content {
            height: 110vh;
            margin-top: 30em;
        }
        .row {
            display: block;
            margin-top: 10em;
        }
        .footer-col {
            width: 100%;

            .logo-cta {
                font-size: 2.2rem;
                text-align: center;
                margin-left: 0px;
                padding: 4.5em 0 0 0;
            }

            h4 {
                margin-top: -3em;
                font-size: 1.5em;
                text-align: center;
                margin-left: 0px;
            }
            h3 {
                margin-top: -3em;
                font-size: 1.5em;
                text-align: center;
                margin-left: 0px;
            }
            h2 {
                margin-top: -3em;
                font-size: 1.5em;
                text-align: center;
                margin-left: 0px;
            }
            ul {
                padding-left: 0px;
                li {
                    a {
                        font-size: 1.4em;
                        text-align: center;
                    }
                }
            }
            .social-links {
                text-align: center;
                a {
                    line-height: 2.1em;
                    font-size: 2em;
                }
                .box {
                    margin-right: -2em;
                    height: 75px;
                    // margin-right: 7em;
                    .form-box input {
                        font-size: 10px;
                        width: 10em;
                    }
                    .form-box button {
                        font-size: 9px;
                        width: 6em;
                    }
                }
            }
        }
    }
}
